<%= form_with scope: :offer, url: offers_path, local: true do |form| %>
  <table class="create-offer-form">
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>

    <tr>
      <td><%= form.label :url %><br></td>
      <td><%= form.url_field :url %></td>
    </tr>

    <tr>
      <td><%= form.label :description %></td>
      <td><%= form.text_area :description %></td>
    </tr>

    <tr>
      <td><%= form.label :starts_at %></td>
      <td><%= form.date_field :starts_at %></td>
    </tr>

    <tr>
      <td><%= form.label :ends_at %></td>
      <td><%= form.date_field :ends_at %></td>
    </tr>

    <tr>
      <td><%= form.label :premium %></td>
      <td><%= form.check_box :premium %></td>
    </tr>

    <tr>
      <td colspan="2"><%= form.submit %></td>
    </tr>
  </table>
<% end %>

<div class="admin-offers-list">
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>URL</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.id %></td>
        <td><%= offer.title %></td>
        <td><%= offer.url %></td>
        <td><%= offer.status %></td>
        <td>
          <% if offer.status == OfferStatus::ENABLED %>
            <%= link_to 'Disable', disable_offer_path(offer), method: :post %>
          <% else %>
            <%= link_to 'Enable', enable_offer_path(offer), method: :post %>
          <% end %>

          <%= link_to 'Destroy', offer_path(offer), method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
